@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100;300;400;500;700;900&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');

* {
  box-sizing: border-box;
  position: relative;
}

html,
body {
  color: rgba(0, 0, 0, 0.7);
  width: 100%vw;
  height: 100%vh;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  scroll-behavior: smooth;
}
